__pycache__
*.pyc
.editorconfig
/launcher/.vs
/launcher/x64
/launcher/Release*
/launcher/launcher/x64
/launcher/launcher/Release*
/launcher/launcher/*.user
/enso/commands/custom.py
/enso/run-enso.exe
/enso/enso-portable.exe
/enso/python
/enso/*.ilk
/enso/enso/contrib/_retreat.pyd
*.iml
.idea
enso-open-source-*.exe
/enso/python37/
/enso/python38/
